@import "tailwindcss";

@theme {
  --color-primary: #f97316;
  --font-display: "Inter", sans-serif;
}

@layer base {
  body {
    @apply font-display bg-white text-black antialiased transition-colors duration-200;
  }
}

/* On force les Material Symbols à 20px comme dans ton style original */
.material-symbols-outlined {
  font-size: 20px;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 20;
}